*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

.comida-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(223, 222, 222);
  gap:2rem
}
article{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16rem;
  height: 8rem;
  border-radius: 25px;
}
button{
  width: 6rem;
  height: 3vh;
  background-color: white;
}
.addfood{
  display: flex;
  justify-content: center;
  
}
form{
  width:6rem;
  height: 10vh;
  background-color: lightblue;
}